@model VetClinic.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2 mt-5">
            Associated Client
        </dt>
        <dd class="col-sm-10 mt-5">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                @foreach (var item in Model.ClientAnimals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.FullName)
                        </td>
                        <td>
                            @if (item.Client.PersonAddresses.Count > 0)
                            {
                                foreach (var adrs in item.Client.PersonAddresses)
                                {
                                    <div>
                                        @Html.DisplayFor(modelItem => adrs.AddressLine1) @Html.DisplayFor(modelItem => adrs.AddressLine2), @Html.DisplayFor(modelItem => adrs.City) @Html.DisplayFor(modelItem => adrs.State) @Html.DisplayFor(modelItem => adrs.PostalCode)
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info">No addresses on file for this client.</div>
                            }
                        </td>
                        <td>
                            @if (item.Client.PersonPhones.Count > 0)
                            {
                                foreach (var phn in item.Client.PersonPhones)
                                {
                            <div>
                                @Html.DisplayFor(modelItem => phn.PhoneNumber)
                            </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info">No phone numbers on file for this client.</div>
                            }
                        </td>
                        <td>
                            @if (item.Client.PersonEmails.Count > 0)
                            {
                                foreach (var eml in item.Client.PersonEmails)
                                {
                                    <div>
                                        @Html.DisplayFor(modelItem => eml.EmailAddress)
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info">No email addresses on file for this client.</div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnimalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
