@model VetClinic.Models.PersonEmail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Email</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonEmailId">Edit</a> |
    <a asp-controller="Clients" asp-action="Details" asp-route-id="@Model.PersonId">Back to List</a>
</div>
